h1 {
    color:rgb(207, 82, 77);
    text-align: center;
}

p.instxt {
    color: navy;
    text-align: left;
}

body {
    font-size: 200%;
    background-color: black;
    text-align: center;
    color: rgb(56, 165, 255);
}

article {
    font-size: 200%;
    color: rgb(31, 173, 255);
}