h1 {
    color:rgb(0, 76, 151);
    text-align: center;
}

p.instxt {
    color: navy;
    text-align: left;
}

body {
    background-color: black;
}

article {
    font-size: 200%;
    color: yellow;
}